.activeans{
    height: auto !important;
    transform: scaleY(1) !important;
    padding: 1rem !important;
}
.r-logo{
    animation: logo-spin infinite 20s linear;
    transition: all 0.3s ease-in-out;
}
.r-logo:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
@keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
@media screen and (max-width: 768px) {
    .r-logo{
        height: 200px;
    }   
}

