@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Bungee+Shade&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.activeans {
  height: auto !important;
  transform: scaleY(1) !important;
  padding: 1rem !important;
}

.r-logo {
  animation: logo-spin infinite 20s linear;
  transition: all 0.3s ease-in-out;
}

.r-logo:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  .r-logo {
    height: 200px;
  }
}